@import './header.css';
@import './dropdown.css';
@import './itinerary.css';
@import './footer.css';

body {
    margin: auto;
    color: black;
    background-image: url("../images/highway-1.jpg");
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.mainContainer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}
